# Dependencies
/node_modules
/.pnp
.pnp.js

# Angular / build
/.angular/cache
/dist
/out-tsc
/coverage
*.tsbuildinfo

# Misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
.env.*.local
